
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<form method="post">
    <div>
        <p><input type="number" id="id" name="id" min="1"></p>
        <p><input type="submit"></p>
    </div>
</form>
