
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
<form method="post">
    <div>
        <p><input type="number" id="id" name="id" min="0"></p>
        <p><input type="text" id="surname" name="surname" /></p>
        <p><input type="number" id="number" name="number" min="0" max="999999999"></p>
        <p><input type="submit"></p>
    </div>
</form>

