@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add (Layout body)</h2>
<form method="post">
    <div>
        <p><input type="text" id="Surname" name="surname" /></p>
        <p><input type="number" id="Number" name="number" min="0" max="999999999"></p>
        <p><input type="submit"></p>
    </div>
</form>

@section Header {
    <h2>MVC (Layout header)</h2>
}

@section Footer {
    <h2>(Layout footer)</h2>
}
