@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete (Layout body)</h2>
<form method="post">
    <div>
        <p><input type="number" id="id" name="id" min="1"></p>
        <p><input type="submit"></p>
    </div>
</form>

@section Header {
    <h2>MVC (Layout header)</h2>
}

@section Footer {
    <h2>(Layout footer)</h2>
}