@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update (Layout body)</h2>
@Html.UpdateHelper("update")

@section Header {
    <h2>MVC  (Layout header)</h2>
}

@section Footer {
    <h2>(Layout footer)</h2>
}
