
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="jumbotron">
        <h3>Delete</h3>
        <div>
            <p>Id:      <input type="number" id="id" name="id" min="0" width="200"></p>
            <p><input type="submit" onclick="Del()"></p>
        </div>
    </div>

    <script>
        let Del = () => {
            fetch('/api/WebApi/Del', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: document.getElementById('id').value
                })
            })
            .then(res => {
                if (res) {
                    window.location.replace("/");
                }
            })
            .catch((err) => console.log(`Fetch ERROR by ${LINK}: ${err}`));
        }
    </script>
</body>
</html>
